<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="text-center mt-4">Hamburgueria Sabor & Arte</h1>
<p class="text-center text-muted">O melhor hambúrguer da cidade!</p>
  <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='batata.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='burger.jpg')}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='pizza.jpg')}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="text-center mt-3">
  <a href="#" class="btn btn-primary">Peça Agora</a>
  <a href="#" class="btn btn-outline-light">Ver Cardápio</a>
</div>

<div class="alert alert-success text-center mt-4" role="alert">
  Frete grátis acima de R$ 50!
</div>

</body>
</html>